<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvService" class="ru.beeline.lessons.service.CsvServiceImpl">
    </bean>

    <bean id="questionService" class="ru.beeline.lessons.service.QuestionServiceImpl">
        <constructor-arg name="csvService" ref="csvService"/>
    </bean>

</beans>
